---
interface Props {
  title: string;
  description: string;
  ogImage?: {
    type: 'categories' | 'items' | 'home';
    slug: string;
  }
}

const { title, description, ogImage } = Astro.props;
const siteUrl = 'https://priceofgoods.com';
const fullOgImageUrl = ogImage
  ? `${siteUrl}/og-image/${ogImage.type}/${ogImage.slug}.png`
  : `${siteUrl}/default-og.png`;

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-ML57FBW3');</script>
  <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={fullOgImageUrl} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={fullOgImageUrl} />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="7bed8295-efd8-476a-a6e8-d35ce7f1a012"></script>
    <title>{title}</title>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML57FBW3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <nav class="bg-white shadow">
      <Navigation />
    </nav>

    <slot />
    <Footer />
  </body>
</html>
