---
interface Props {
  title: string;
  description: string;
  ogImage?: string; // Optional category for OG image
}

const { title, description, ogImage } = Astro.props;
const siteUrl = 'https://priceofgoods.com';

const fullOgImageUrl = ogImage
  ? `${siteUrl}/og-images/${ogImage}.png`
  : `${siteUrl}/og-images/national.png`;

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={fullOgImageUrl} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={fullOgImageUrl} />

    <title>{title}</title>
  </head>
  <body>
    <nav class="bg-white shadow">
      <Navigation />
    </nav>

    <slot />
    <Footer />
  </body>
</html>
